<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script defer src="/js/dist.js"></script>
</head>
<body>
    <template id="map"></template>
</body>
</html>